<%- include("header") -%>
<h2>this is the About Page</h2>

<p>djhgbcuhdgbcjdbv dvshbvjhdgsbv bndhjdhjhjvhj dhjdshjsfsdhjfv fshjfhfkhjf fhfsghfhjfs fhjfshjfhf fsghfghfhjgb </p>

<%- include("footer") -%>